.container .cjLoeF {
    background-color: #fafafa !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .grGSgg {
    font-size: 16px  !important;
    
  }